@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Jost";
    font-weight: 500;
    color: #000;
    font-size: 32px;
}

.logo {
    margin-left: 42%;
    cursor: pointer;
}

.rectangle {
    width: 100%;
    height: 70px;
    background-color: #000;
}

.btn {
    background-color: #fff;
    width: 10%;
    height: 50px;
    border-radius: 50px;
    font-family: "Jost";
    font-weight: 500;
    text-align: center;
    font-size: 85%;
    margin-left: 3.3%;
    margin-top: 10px;
    transform: scale(1);
    transition: ease 500ms all;
    border: none;
}

.btn:hover {
    background-color: #000;
    color: #fff;
    transition: all 500ms ease;
}

.vet {
    margin-left: 8%;
    margin-top: 56px;
    cursor: pointer;
    transform: scale(1);
    transition: ease 300ms all;
}

.vet:hover {
    border: #000;
    border-style: solid ;
    transform: scale(1.1);
    transition: ease 300ms all;
}

.balenc {
    margin-left: 10%;
    margin-top: 56px;
    cursor: pointer;
    transform: scale(1);
    transition: ease 300ms all;
}

.balenc:hover {
    border: #000;
    border-style: solid ;
    transform: scale(1.1);
    transition: ease 300ms all;
}
